{% load app_filters %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Q</th>
            <th scope="col">P</th>
          </tr>
        </thead>
        <tbody>
          <!--  10 is the range for Q -->
          <!-- Don't forget to change Q in javascript as well-->
          {% with ''|center:10 as range %} {% for _ in range %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{game|get_demand_func:forloop.counter}}</td>
          </tr>
          {% endfor %} {% endwith %}
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <div id="myDiv"></div>
    </div>
  </div>
</div>
<script>
  {
    let x = [];
    let y = [];
    //10 is the range of Q
    ("{% with ''|center:10 as range %}");
    ("{% for _ in range %}");
    x.push("{{forloop.counter}}");
    y.push("{{game|get_demand_func:forloop.counter }}");

    ("{% endfor %}");
    ("{% endwith %}");
    var trace1 = {
      x: x,
      y: y,
      type: 'scatter'
    };

    var data = [trace1];

    Plotly.newPlot('myDiv', data);
  }
</script>