<p class="text-justify">
    Rules for Production Game 1 <br>

    1) Each team starts with a bank balance of $10,000. <br>
    
    2) A game consists of up to 20 turns each representing about 2-10 years.<br>
    
    3) Each turn, enter your decisions within 120 seconds.  The first three turns get extra time.  A clock counts down the remaining time available.  If the clock reaches zero and you have not submitted your decisions, then your company does nothing during the turn.<br>
    
    4) On each turn, your team does the following:<br>
    
    (i) Construct production machinery.  Machines cost $1,000, and last forever.<br>
    
    (ii) Operate your machinery, by choosing the number of your machines to operate.  Each machine can produce one unit per turn.  Production cost is $5,000 per machine operated. <br>
    
    5) The price received for each unit produced is determined by the market.  More industry output causes lower prices, and less output causes higher prices (ceteris paribus).  The price is determined only after all teams finish the turn.  Each team's revenues (price times units produced) are then added to the team’s bank account.<br>
    
    6) A history of the team’s past decisions is displayed in turn 2 and later.  A market report, summarizing what happened on previous turns for all teams, is available beginning in turn 2.<br>
    
    7) If your company goes bust, you can click on Resign.  The game will then move faster, with no need to enter decisions, and you will be able to start on the post-game questions.<br>
    
     
    
    Copyright © 2008 by Kenneth L. Simons. All Rights Reserved.<br>

</p>